<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

<div class="container">
    <div class="row mb-3 home-banner">
        <h1 class="text-center align-self-center">
            Explore 60,000+ collection guides from <br/>
            California's libraries, archives, and museums
        </h1>
        <div class="col-6 offset-3" id="search-col">
        <div class="text-center" role="navigation" aria-label="Search">
            <search>
                <form class="search-query-form" action="/catalog" accept-charset="UTF-8" method="get">
                    <div class="input-group">
                        <input value="all_fields" autocomplete="off" type="hidden" name="search_field" id="search_field">
                        <input value="true"  name="group" id="group" type="hidden">
                        <label class="sr-only visually-hidden" for="q">search for</label>
                        <auto-complete src="/catalog/suggest" for="autocomplete-popup" class="search-autocomplete-wrapper rounded-left rounded-start">
                            <input placeholder="Search collections" class="search-q q form-control rounded-left rounded-start" aria-label="search for" aria-autocomplete="list" aria-controls="autocomplete-popup" type="search" name="q" id="q" role="combobox" aria-expanded="false" aria-haspopup="listbox" autocomplete="off" spellcheck="false">
                            <ul id="autocomplete-popup" class="dropdown-menu" role="listbox" aria-label="search for" hidden=""></ul>
                        </auto-complete>
                        <button class="btn btn-primary search-btn" type="submit" id="search">
                            <span class="blacklight-icons blacklight-icons-search">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </form>
            </search>
        </div>
        </div>
        <p class="text-end align-self-end">
            <a class="caption" href="">Item Title / Institution Name</a>
        </p>
    </div>

    <div class="row mb-3 gx-5">
        <div class="col-md-4">
            <div class="row mb-3 home-textbox">
                <div class="col p-4">
                    <h2>
                        OAC is your gateway to detailed descriptions of the unique
                        holdings of over 350 archival institutions throughout the state.
                    </h2>
                    <button class="btn btn-primary">
                        Browse all contributing institutions
                    </button>
                </div>
            </div>
            <div class="row mb-md-0 mb-3 home-image">
                <p class="text-end align-self-end">
                    <a class="caption" href="">Item Title / Institution Name</a>
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" id="home-map">
            </div>
        </div>
    </div>

    <div class="row mb-3 p-3 calisphere-banner">
        <div class="col-md-auto">
            <img class="calisphere-thumbnail me-2"\>
            <img class="calisphere-thumbnail me-2"\>
            <img class="calisphere-thumbnail"\>
        </div>
        <div class="col-md-auto">
            <h3>Need to find a digital image?</h3>
            <p>A world of primary source materials is available to you online.</p>
        </div>
        <div class="col text-end">
            <img class="calisphere-logo"\>
        </div>
    </div>
</div>

<script>
    var map = L.map('home-map').setView([37.152, -120.594], 6);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    <% @repositories.each do |r|  %>
    var marker = L.marker([<%= r.latitude %>, <%= r.longitude %>]).addTo(map);
    marker.bindPopup(`
        <%= r.name %><br/>
        <%= r.location %>
        <%= link_to("Browse collections", repository_collections_path(r)) %>
    `);
    <% end %>
</script>
