<% content_for(:container_header) do -%>
  <div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <%= render Arclight::RepositoryBreadcrumbComponent.new(document: @document) %>
        </ol>
      </nav>
  </div>

  <div class="text-left container py-4">
    <%= content_tag :h1 do %>
        <span aria-hidden="true"><%= blacklight_icon :collection, classes: 'al-collection-content-icon' %></span>
        <%= @document.collection_name %>
    <% end %>
    <div class="row py-4">
        <% if @document.online_content? %>
        <div class="col-sm-auto">
            <span aria-hidden="true"><%= blacklight_icon :online, classes: 'oac-online-content-icon' %></span>
            <a href="<%= search_action_path(f: { collection: [@document.collection_name], access: ['online'] }) %>">
            <%= t('arclight.collection_info_component.online_items') =%>
            </a>
        </div>
        <% end %>
        <div class="col-sm-auto">
            <span aria-hidden="true"><%= blacklight_icon :printer, classes: 'oac-printer-icon' %></span>
            <a href="">Printable Guide [HTML]</a>
        </div>
        <div class="col-sm-auto">
            <%= render 'arclight/requests', document: @document %>
        </div>
    </div>
    <%= render Oac::SearchDocumentComponent.new(document: @document) %>
</div>
<% end %>

<%= render 'show_main_content' %>

<% content_for(:sidebar) do %>
  <% presenter = document_presenter(@document) %>
  <%= render presenter.view_config.sidebar_component.new(presenter: presenter) %>
<% end %>
