<nav class="al-sidebar-navigation-context sidebar-section" aria-labelledby="collection-nav">
  <h2 id="collection-nav"><%= t('arclight.views.show.context_nav.title') %></h2>
  <div class="card p-3 mb-3">
    <p><b><%= t('arclight.views.show.collection_id') %>:</b> <%= Array(@document["unitid_tesim"]).join(', ') %></p>
    <p><b><%= t('arclight.views.show.last_indexed') %>:</b> <%= @document.last_indexed.strftime('%F') %></p>
    <p><b>Permalink:</b> <a class="permalink" href="https://oac.cdlib.org/findaid/<%= @document.collection.id %>">https://oac.cdlib.org/findaid/<%= @document.collection.id %></a></p>
  </div>
  <h3>Jump to</h3>
  <ul class='nav flex-column ps-3'>
    <% partials.each do |section| %>
      <% next unless has_section?(section) %>
      <li class='nav-item'>
        <%= link_to section_label(section),
          document_section_path(section),
          class: 'nav-link pl-0 ps-0 py-1',
          data: { turbolinks: 'false' }
        %>
      </li>
    <% end %>
  </ul>
</nav>
