

<div class='d-md-flex justify-content-between al-show'>
  <div class='al-show-breadcrumb'>
    <nav aria-label="breadcrumb">
      <%= render breadcrumb_component.new(presenter: presenter) %>
    </nav>
  </div>
</div>

<div class="title-container">
  <%= content_tag :h1 do %>
    <%= document.normalized_title %>
  <% end %>
  <%= render 'arclight/requests', document: document %>

  <%= toggle_sidebar %>
  <%= online_filter %>

</div>

<%= render CollectionTabsComponent.new(document: document, access: access ) %>
