<% breadcrumb :contact %>
<%= render 'shared/breadcrumbs' %>


<div class="row">
  <div class="col-md-8">

    <h1>Contact the Online Archive of California</h1>
    <p>Please note the California Digital Library, which maintains the Online Archive of California, does not own the items or collections on the site and has no further information about them.</p>
    <p>Questions about items and collections -- including requests for duplication, permissions, or more information -- should be directed to their contributing institutions. Visit <%= link_to "the institution's page", { controller: 'arclight/repositories', action: 'index' } %> to find their contact information, such as phone number and email address.</p>
    <p>Use this form only if you have technical problems, questions, or general comments about the Online Archive of California.</p>

    <%= form_with scope: :contact_form, url: contact_form_create_path, method: :post, local: true, class: "container" do |form| %>
      <div class="form-group">
        <%= form.label "Name" %>
        <%= form.text_field :sender_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label "Email" %>
        <%= form.email_field :sender_email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label "Verify Email" %>
        <%= form.email_field :sender_verify_email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :message %>
        <%= form.text_area :message, class: "form-control", required: true %>
      </div>
      <%# TODO: insert recaptcha %>
      <div>
            <p>[ RECAPTCHA HERE ]</p>
      </div>
<p>*Messages about items or collections submitted through this page may be forwarded to the contributing institution, as noted in our <%= link_to 'Privacy Statement', privacy_path %>.</p>
      <%= form.submit "Submit", class: "btn btn-primary" %>
    <% end %>

  </div>
  <div class="col-md-4">
    <div class="card p-4 mb-4">
      <h2>How can we help you?</h2>
      <p>Our <%= link_to 'FAQ page', help_path %> contains search tips and answers to many frequently asked questions, such as how to find more information about an item or collection.</p>
      <p><strong>Copyright and permissions:</strong> If you're wondering about permissions and what you can do with items you find in the OAC, a good starting point is the <%= link_to 'terms of use', termsofuse_path %>.</p>
      <p><strong>Do you know something we don't?</strong> We welcome additional information about the primary sources described in OAC. Learn more <%= link_to 'about the collection guides in OAC', overview_path %> and how we strive to provide responsible access to primary sources--and how you can help!</p>
    </div>

    <div class="card p-4 mb-4">
      <h2>Contact information</h2>
      <p>The OAC is a service of the <%= link_to 'University of California Libraries', 'https://libraries.universityofcalifornia.edu/' %>, developed and maintained by the <%= link_to 'California Digital Library', 'https://cdlib.org/' %>.</p>
      <p>
California Digital Library<br/>
Office of the President, University of California<br/>
1111 Franklin Street<br/>
Oakland, CA 94607<br/>
      </p>
<p>Email: <a href="mailto:CDLCOM@ucop.edu">CDLCOM@ucop.edu</a></p>
    </div>
  </div>
</div>
