<footer>
    <div class="container">
        <div class="row mb-5 pt-3 footer-container">
        <div class="col-md-6">
            <%= image_tag('arclight/logo.png', alt: "OAC Logo", class: "img-fluid mb-3") %>
            <p>The Online Archive of California is a service of the <a href="https://libraries.universityofcalifornia.edu/">UC Libraries</a>, powered by the <a href="https://cdlib.org/">California Digital Library</a>.</p>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'About OAC', about_path %></li>
                <li><%= link_to 'Contributing Institutions', { controller: 'arclight/repositories', action: 'index' } %></li>
                <li><%= link_to 'FAQs', help_path %></li>
                <%#= link_to 'Help', help_path %>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><%= link_to 'Terms of Use', termsofuse_path %></li>
                <li><%= link_to 'Privacy Statement', privacy_path %></li>
                <li><%= link_to 'Accessibility', 'https://cdlib.org/about/policies-and-guidelines/accessibility/' %></li>
                <li><%= link_to 'Contact Us', contact_form_path %></li>
            </ul>
        </div>
        </div>
    </div>
</footer>
