<div class="static-findaid-document">
  <% if not document.collection? %>
  <div class="static-findaid-doc-title">
    <%= content_tag :h3 do %>
      <%= document.normalized_title %>
    <% end %>
  </div>
  <% else %>
    <h2><%= t 'arclight.views.show.context_nav.title' %></h2>
  <% end %>

  <%= embed %>

  <div id="<%= "metadata-#{document.id}"%>">
    <%= render StaticFindingAid::MetadataSectionComponent.with_collection(metadata_partials,
                  metadata_attr: { layout: StaticFindingAid::MetadataFieldLayoutComponent },
                  presenter: presenter, heading: true) %>
    <%= access if document.collection? %>
  </div>

  <% if document_tree.children.present? %>
  <div id='<%= "content-#{document.id}" %>' >
      <% if document.collection? %>
      <h2><%= t 'arclight.views.show.has_content' %></h2>
      <% end %>
  </div>

  <div class="static-findaid-doc-tree">
    <%  for child in document_tree.children %>
      <%=  render (self.class).new(document: document_presenter(child.document), doc_tree: child, component: :div, show: true, partials: blacklight_config.view_config(:show).partials) do |component| %>
        <% component.with_title(as: 'h4', classes: '', link_to_document: false, actions: false) %>
      <% end %>
    <% end %>
  </div>
  <% end %>

  </div>
