
<% content_for(:container_header) do -%>

  <div>
        <div class="container py-4">
            <a class="mb-0 navbar-brand navbar-logo d-block" href="/">OAC</a>
        </div>
        <div class="container">
            <p class="h4"> <%= @document.repository %></p>
        <div>
  </div>

  <div class="text-left container my-4 py-2 static-findaid-title">
    <%= content_tag :h1 do %>
        <span aria-hidden="true"><%= blacklight_icon :collection, classes: 'al-collection-content-icon' %></span>
        <%= @document.collection_name %>
    <% end %>
    <div class="row">
        <ul class="list-unstyled static-findaid-list">
            <li class="static_link">
                <a href="<%= solr_document_path @document.id %>">
                    <%= request.base_url %><%= CGI.unescape(solr_document_path @document.id) %>
                </a>
            </li>
             <% if @document.online_content? %>
                <li class="static_online_available">
                    Some items available online
                </li>
            <% end %>
            <li>
                <%= render 'arclight/requests', document: @document %>
            </li>
        </ul>
    </div>
</div>
<% end %>
<%= render 'show_main_content' %>
