<% breadcrumb :about %>
<%= render 'shared/breadcrumbs' %>


<div class="row">
  <div class="col-md-8">
    <h1>About OAC</h1>
    <p>The Online Archive of California (OAC) provides free public access to detailed descriptions of primary resource collections maintained by more than <%= link_to '350 contributing institutions', { controller: 'arclight/repositories', action: 'index' } %>, including libraries, special collections, archives, historical societies, and museums throughout California as well as the collections maintained by the ten University of California (UC) campuses.</p>

    <h2>About the collections in OAC</h2>

    <p>Open the virtual doors of these institutions fvia the more than 60,000 online collection guides (also known as "finding aids") searchable from our <%= link_to 'home page', root_path %>. You can use these guides to browse, locate resources, view selected items digitally, or learn how to gain access to the physical objects.</p>

    <p>Discover more <%= link_to 'about the collection guides in OAC', overview_path %>, including how primary source records are described, how shared community values and standards guide access to historical materials, how we strive to provide responsible access to primary sources--and how you can help.</p>

    <h2>Collection guides unlock archive, library, and museum doors.</h2>

    <p>Access to collection guides is essential for understanding a collection's content and determining whether it is likely to satisfy your research needs.</p>

    <p>OAC's comprehensive online collection guides make it easy to find collections and locate individual objects. These guides provide detailed descriptions of the items in a collection, as well as background, historical studies, and analyses (when available). Selected items have been digitally scanned, and may be available for immediate online viewing through links provided by contributing institutions.</p>

    <p>Do you have a question about a collection or item, or would you like to view the original materials? Are you seeking permission to publish or reproduce an image or text?  OAC collection guides also provide contact information for the institution that maintains the resources: you can connect with a librarian, archivist, or curator in order to learn more about and gain access to the physical materials.</p>

    <h2>OAC is a vital resource for researchers.</h2>

    <p>As California's central repository for collection guides, OAC is a vital resource that enables users to explore California's rich collections by browsing online, searching for information about specific items and their location, and learning how to access them. New technology solutions enhance discovery, making it easy to locate specific items quickly or browse collection contents online.</p>

    <h2>History</h2>

    <p>OAC -- completely redesigned in 2025 -- has been a longstanding service of CDL since 1998. It was a direct outgrowth of the groundbreaking development of the Encoded Archival Description (EAD) standard, initiated at UC Berkeley. <%= link_to 'Learn more about the history of OAC', 'https://help.oac.cdlib.org/support/solutions/articles/9000150112-oac-history' %>.</p>


    <h2>For California libraries, archives, historical societies, and museums</h2>

    <p>Let us help you broaden access to your collections. Enjoy a range of benefits:</p>

    <ul>
    <li>Enhance the scholarship potential for your patrons.</li>
    <li>Gain access to our tools, services, and training.</li>
    <li>Expand your grant opportunities through partnership with CDL.</li>
    </ul>

    <p>OAC membership is freely available to California academic, public, or private libraries, special collections and archival repositories, historical societies, and museums. <%= link_to 'Learn more about joining OAC', 'https://help.oac.cdlib.org/support/solutions/articles/9000049975-become-a-contributor' %>.</p>

    <h2>Technical framework</h2>

    <p>OAC is based on an open source technical framework adaped by CDL. <%= link_to "Learn more about OAC's systems", 'https://help.oac.cdlib.org/support/solutions/articles/9000081989-technical-overview' %>.</p>

    <h2>Our organization</h2>

    <p>The Online Archive of California is a service of the <%= link_to 'University of California Libraries', 'https://libraries.universityofcalifornia.edu/' %>, developed and maintained by the <%= link_to 'California Digital Library', 'https://cdlib.org/' %>.</p>
  </div>
  <div class="col-md-4">
    <div class="card p-4 mb-4">
      <h2>Learn more</h2>

      <%= link_to 'Help and FAQ', help_path %><br/>
      <%= link_to 'How to become an OAC contributor', 'https://help.oac.cdlib.org/support/solutions/articles/9000049975-become-a-contributor' %><br/>
      <%= link_to 'History of the OAC', 'https://help.oac.cdlib.org/support/solutions/articles/9000150112-oac-history' %><br/>
      <%= link_to 'Especially for contributing members', 'https://help.oac.cdlib.org/support/home' %><br/>
    </div>
  </div>
</div>
