<!-- to edit breadcrumbs, see config/breadcrumbs.rb -->
<% breadcrumb :example %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-8">
    <h1>h1: Example Page Heading</h1>
    <p class="lead text-muted">This is an example of applying the "lead" and "text-muted" paragraph classes.</p>
    <p>And this is an example of a normal paragraph. You can find this example page in the source code at <strong>app/views/static_pages/example.html.erb</strong>. Here's an example of a link within a paragraph: <a href="https://google.com">Google</a>. Links get an underline when they're part of a paragraph or part of a definition list's description, but otherwise don't get an underline (like in the list below).</p>
    <h2>h2: Common Internal Links</h2>
    <p>Here's a list of common internal links in the Rails template language:</p>
    <ul class="list-unstyled">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About OAC', about_path %></li>
      <li><%= link_to 'Contributing Institutions', { controller: 'arclight/repositories', action: 'index' } %></li>
      <li><%= link_to 'FAQs', help_path %></li>
      <li><%= link_to 'Link with a forced underline', help_path, class: 'link-underline' %></li>
      <li><%= link_to 'Terms of Use', termsofuse_path %></li>
      <li><%= link_to 'Privacy Statement', privacy_path %></li>
      <li><%= link_to 'Accessibility', 'https://cdlib.org/about/policies-and-guidelines/accessibility/' %></li>
      <li><%= link_to 'Contact Us', contact_form_path, data: {turbo: "false"} %></li>
      <li><%= link_to 'About the Collection Guides in OAC', overview_path %></li>
      <li><%= link_to 'CDL Privacy Statement', 'https://cdlib.org/about/policies-and-guidelines/privacy-statement/' %></li>
      <li><%= link_to 'California Digital Library', 'https://cdlib.org/' %></li>
      <li><%= link_to 'University of California Libraries', 'https://libraries.universityofcalifornia.edu/' %></li>
      <li><%= link_to "View Collection Guide", solr_document_path("ark:/13030/c8xg9zfj") %></li>
      <li><%= link_to "UC Berkeley Bancroft", repository_path(:id => 'berkeley_bancroft') %></li>
      <li><a href="https://example.com" class="offsite-link">Example Offsite Link</a></li>
    </ul>
    <p>This list includes some internal controlled vocabulary that you can insert:</p>
    <ul>
      <li><p><%= t('arclight.views.show.online_content.link_text') %></p></li>
    </ul>
    <p>Here's a list, with each list containing sentences:</p>
    <ul>
      <li>This list item has a few sentences. There are no link inside this paragraph. This can be wrapped with just the list item tag.</li>
      <li><p>However, this list item wants you to read more <%= link_to 'about OAC', about_path %>. In order for the link to conform to our style guide (with links in paragraphs being underlined), we need to wrap this list item in p tags, in addition to the list item tag.</p></li>
    </ul>
<h2>h2: Definition List Example</h2>
    <p>This page is also a nice place to demonstrate a definition list style. Definition lists are used on the finding aid pages are are comprised of a term (dt) and a description (dd). Links in the description (dd) are underlined like links in paragraphs.</p>
    <dl>
    <dt>Term 1</dt>
    <dd>Description for term 1. This is a link in a description: <a href="https://example.com">Example Link</a>.</dd>
    <dt><a href="#">Creator</a></dt>
    <dd>Links in the dt (definition list term) don't get an underline, like the linked Creator in this example.</dd>
    </dl>
    <h2>h2: Headings List</h2>
    <h3>h3: Example Heading</h3>
    <h4>h4: Example Heading</h4>
    <h5>h5: Example Heading</h5>
    <h6>h6: Example Heading</h6>
    <p>Headings are used to organize content on the page. The h1 is the main title, and subsequent headings (h2, h3, etc.) are used for subheadings.</p>
  </div>
  <div class="col-md-4">
    <div class="card p-4 mb-4">
      <p>
      Edit this card for right sidebar content.<br/>
      Copy this div to add more cards.
      </p>
    </div>
  </div>
</div>
