<% breadcrumb :help %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-8">
    <h1>Frequently Asked Questions</h1>
<p>The Online Archive of California (OAC) provides free public access to detailed descriptions of primary resource collections maintained by more than <%= link_to '350 contributing institutions', { controller: 'arclight/repositories', action: 'index' } %>, including libraries, special collections, archives, historical societies, and museums throughout California, as well as the collections maintained by the ten University of California (UC) campuses.</p>

<p>Below are some frequently asked questions about finding, using, and obtaining more information about these materials.</p>

    <ul class="list-unstyled">
      <li><strong><a href="#start">I'm getting started with OAC!</a></strong></li>
      <ul>
        <li><a href="#oac">What kind of information can I find in OAC?</a></li>
        <li><a href="#search-tips">Do you have any search tips?</a></li>
        <li><a href="#guide">What does a collection guide look like?</a></li>
      </ul>
    </ul>

    <ul class="list-unstyled">
      <li><strong><a href="#collections">I would like to see the collections, but I only see descriptions.</a></strong></li>
      <ul>
        <li><a href="#questions">Can I see the collections, request copies, or ask questions about them?</a></li>
        <li><a href="#contact">How do I contact contributing institutions?</a></li>
        <li><a href="#online">How do I see online versions of the items?</a></li>
        <li><a href="#digitized">The items I'm interested in aren't available online. Why aren't all the items digitized?</a></li>
      </ul>
    </ul>

    <ul class="list-unstyled">
      <li><strong><a href="#using">I found something I would like to include in my research.</a></strong></li>
      <ul>
      <li><a href="#cite-guide">I want to cite or link to a collection guide in OAC. What's the proper form?</a></li>
      <li><a href="#cite-item">I want to cite an item described in a collection guide. What's the proper form?</a></li>
      <li><a href="#publication">May I use online versions of items in a publication or on a web site?</a></li>
      </ul>
    </ul>

    <ul class="list-unstyled">
      <li><strong><a href="#topic">I would like to learn more about a historical item or topic.</a></strong></li>
      <ul>
      <li><a href="#research">I'm conducting research. Can you help me find more information about a particular topic?</a></li>
      <li><a href="#historical">I have a historical item I'd like to know more about. Can you help?</a></li>
      <li><a href="#appraisal">I have an item I would like appraised. Can you help me?</a></li>
      <li><a href="#photographs">I have some historic photographs and documents. Can I donate or put them in OAC?</a></li>
      </ul>
    </ul>

    <ul class="list-unstyled">
      <li><strong><a href="#share">I have information to share with OAC.</a></strong></li>
      <ul>
      <li><a href="#error">I noticed an error in the description of an item or collection--or I have more information to share. How do I report it?</a></li>
      <li><a href="#story">I found something great in OAC! Can I share my story?</a></li>
      <li><a href="#improvements">Can I suggest improvements to the site?</a></li>
      </ul>
    </ul>

    <h2 id="start">I'm getting started with OAC!</h2>

    <h3 id="oac">What kind of information can I find in OAC?</h3>

    <p>You can discover the contents of the archives, libraries, and museum collections, their physical location, and their contact information.</p>

    <p><strong>Collection guides</strong><br/>
OAC provides access to more than 60,000 online collection guides (also known as "<%= link_to 'finding aids', 'https://dictionary.archivists.org/entry/finding-aid.html' %>"). They describe the items in collections and how they were gathered or created. They also identify the collection's location, and may provide additional information such as detailed descriptions, histories, and biographies. You can use these to browse, locate resources, or view selected items digitally.</p>

    <p><strong>Contributing institutions</strong><br/>
OAC partners with more than <%= link_to '350 contributing institutions', { controller: 'arclight/repositories', action: 'index' } %>, including libraries, special collections, archives, historical societies, and museums throughout California. Select "Contributing Institutions" from the top navigation bar to view and scroll through an A-Z list of all OAC contributing institutions.</p>
    <p>Questions related to a collection or its contents--including requests for duplication, permissions, or more information--must be <a href="#contact">directed to the institution that contributed the materials or the guide</a>. OAC does not own, store, or house any of the materials described in the collection guides, nor any of the digital materials described and linked on this site.</p>
    <p>The name of the contributing institution, as well as a link to its website, is provided on every collection guide.</p>
    <p>See the Society of American Archivists' <%= link_to 'Using Archives', 'https://www2.archivists.org/usingarchives' %> for additional resources on conducting research with archives.</p>
<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

     <h3 id="search-tips">Do you have any search tips?</h3>

    <p>OAC's search box is available at the top right-hand corner of every page. Enter one or more search terms to search through all the collections and items in the site, regardless of which page you are on.</p>

    <p>You can conduct your search at three levels: sitewide (all the collections in OAC), within a particular contributing institution, or within a specific collection guide.</p>

    <p><strong>Search options</strong><br/>
Enter the keywords you would like to search. A search for two or more words will result in records containing all of the words (e.g. <em>cat dog</em> will get you results where both cat and dog appear).</p>
<ul>
  <li><strong>Exact Phrase</strong>: You must use quotes to search for an exact phrase (e.g., <em>"gold rush"</em> will find Gold Rush, but not gold jewelry).</li>
  <li><strong>Case Sensitive</strong>: Searching is NOT case sensitive. Searching for '<em>History</em>' or '<em>history</em>' will yield the same results.</li>
  <li><strong>Boolean operators (AND, OR, NOT)</strong>: Our search supports Boolean operators (AND, OR, NOT). For example, you will have different results for '<em>redwood AND trees</em>,' '<em>redwood OR trees</em>,' as well as '<em>redwood NOT trees</em>. By default, entering a multiple keyword search will work like Boolean AND; results will be returned only when ALL of the keywords appear.</li>
  <li><strong>Truncation</strong>: An asterisk [*] can be used as a wildcard to replace one or many characters. For example: <em>farm*</em> will retrieve farm, farmers, farming, farmhouse, farmers' market, etc.</li>
</ul>

<p><strong>Search results</strong><br/>
Search results are categorized in two tabs: "Grouped by collection" and "All results."</p>
<ul>
<li><strong>"Grouped by collection"</strong>: By default, the results will be "grouped by collections," which includes the collection title at the top, along with the contributing institution (the institution that houses that collection) and a short description of the collection. Collections include a variety of primary source materials, and some collection guides will describe folder- or document-level contents. The "grouped by collection" view groups those results by particular collections. Click the title to view the collection guide, or click a folder- or document-level record to go to that description directly.</li>
<li><strong>"All results"</strong>: Alternatively, you can view "all results" instead, which instead provides any results that match your keyword. The results may include collection titles, as well as folder or document titles, and these results will not be grouped by any particular collection. If you are viewing "all results," you will see the collection title in the breadcrumb, alongside the contributing institution.</li>
</ul>
<%= image_tag('arclight/faq/search.png', alt: "This image shows example search results for the search term, redwood trees. There is a search box across the top of the image. Below the search box, the page then splits into two sections. The left section displays options to refine your search. The right section displays the search results.", class: "img-fluid") %>
<p><br/></p>
<p><strong>Refine your search</strong><br/>
Use the following filter options to narrow your search results:</p>
<ul>
<li><strong>View only results with digital items</strong>: choose this toggle to view only collections that have digitized items available online.</li>
<li><strong>Contributing Institution</strong>: choose this to view collections only from that institution.</li>
<li><strong>Collection</strong>: choose this to view results from only one specific collection.</li
<li><strong>Date Range</strong>: choose a date to view collections with materials from that date.</li>
<li><strong>Creators, Names, Places, and Subjects</strong>: choose from the set of provided terms to apply that to your results; these terms are drawn from collection guides, when provided.</li>
</ul>
<p>The options you choose will display below search box, and the search results will change. To remove that option and return to original results, click the "X" next to that choice. You can also choose “Clear search” to start over.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="guide">What does a collection guide look like?</h3>

    <p>Collection guides describe the items in a collection and how they were gathered or created. They also identify the collection's location, and may provide additional information, including detailed descriptions, chronologies, and biographies.</p>
<%= image_tag('arclight/faq/collection-guide.png', alt: "This image shows an example of a collection guide in OAC. Numbers have been added on this image that match that numbered bullet list, below. 1: The top of the image includes the institution name, collection name, and other options. 2: Just below, there is a ‘search’ box for this collection. 3: The left side of the page includes navigation options, including permalink that always points to this guide. 4: The left side of the page also includes a quick link to view ‘access and use’ information, for this collection. 5: Still on the left side of the page, the Collection Contents provides navigation options. 6: The right side of the page displays selected content.", class: "img-fluid") %>
<p><br/></p>

<ol>
<li>This top section includes the collection title, the contributing institution, and several other options. Click on the contributing institution name to view their contact information.</li>
<ul style="list-style-type:circle;">
<li><strong>View only results with digital items</strong>: Tells you that some items in this collection have been digitized and can be viewed online. Click this link to see a list of all digital items available. This option does not appear if the collection does not have any digitized materials.</li>
<li><strong>Printable guide [HTML]</strong>: This provides an option to view the full collection guide as one long page. Use your web browser's print/save option to convert it to a PDF document.</li>
<li><p><strong>Request items</strong>: Some collection guides feature a "Request items" link. If you see this link, you can use it to register with the institution that owns the collection, place requests, and track your orders. For example, you can obtain a scanned copy of an item that you are interested in viewing, submit a request in advance of a visit to the institution in-person, or ask for additional information about the items in the collection.</p></li>
</ul>
<li><p><strong>Search this collection</strong> lets you search for any item in this collection guide. Conducting a search within this collection guide will display your search results on the right-hand side of the page.</p></li>
<li><p><strong>Permalink</strong>: Available in the "Collection Overview" section, the permalink is a permanent URL that will always point to this collection guide.</p></li>
<li><p><strong>Access and Use</strong>: Also available in the "Collection Overview" section, click this link to view the contributing institution's contact information, as well as details that might guide your access and use of the collection material.</p></li>
<li><p><strong>Collection Contents</strong> always remains on the left-hand side of the page, and provides a descriptive arrangement of the collection so that you can easily navigate through the collection guide. Additionally, the "<%= t('arclight.views.show.online_content.link_text') %>" toggle allows you to refine search. (If there are no digital items for a collection guide, this toggle option is not available.)</p></li>
<li><p>The right-hand side of the page displays the descriptive content from the collection guide. If you opt to search within the collections, your search results will display here instead.</p></li>
</ol>

    <p>Collection guides in OAC vary in their levels of specificity, depending on the kinds of materials described and the practices of the holding institution. A number of factors could contribute to a less detailed guide: the collection may be too small to warrant an extensive inventory, the institution has chosen not to inventory the contents of the collection in detail, the inventory exists but is not online, and many other reasons. For additional context, learn more <%= link_to 'about the collection guides in OAC', overview_path %>.</p>

    <p>Questions related to a collection or its contents--including requests for duplication, permissions, or more information--must be <a href="#contact">directed to the institution that contributed the materials or the guide</a>.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h2 id="collections">I would like to see the collections, but I only see descriptions.</h2>

    <h3 id="questions">Can I see the collections, request copies, or ask questions about them?</h3>

    <p>Questions related to a collection or its contents--including requests for duplication, permissions, or more information--<a href="#contact">directed to the institution that contributed the materials or the guide</a>. The name of the contributing institution, as well as a link to its website, is provided on every collection guide.</p>

    <p>OAC does not own, store, or house any of the materials described in the collection guides, nor any of the digital materials described and linked on this site.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="contact">How do I contact contributing institutions?</h3>
    <p>The name of the contributing institution, as well as a link to its website, is provided in every collection guide. Click on the contributing institution to view their contact information. You may also view the "Access and Use" section of the collection guide for information about how to contact the contributing institution.</p>
<%= image_tag('arclight/faq/contact.png', alt: "This image shows an example of a collection guide in OAC, with two arrows pointing out links that will display contact information about the contributing institution. The first arrow is at the top of the image, beside the institution name. The second arrow is beside the 'Access and use' link, which is on the left side of the page.", class: "img-fluid") %>
<p><br/></p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="online">How do I see online versions of the items?</h3>
    <p>Collection guides provide detailed descriptions of the items in a collection, and make it easy to  locate individual objects. Selected items have been digitally scanned, and may be available for immediate online viewing through the links provided by contributing institutions. If a collection includes online versions of items, the collection guide will indicate "Digital items available". You may also refine search results to "<%= t('arclight.views.show.online_content.link_text') %>."</p>
    <p>When digital items are available, contributing institutions will provide a link so you may view the digital items. The digital items are not available for viewing directly within the OAC website; these links will point to a digital collections platform, often the contributing partner’s website, or a digital collections website, such as <%= link_to 'Calisphere', 'https://calisphere.org' %>.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="digitized">The items I'm interested in aren't available online. Why aren't all the items digitized?</h3>

    <p>Unfortunately, not all of the contents in all of the collections have been digitized. Each contributing institution decides what items to digitize and make available online based on a number of considerations (including available funding and resources for digitization, copyright restrictions that may prevent the item from being distributed online, and the scholarly significance of the item). For some researchers, just knowing that a collection exists and what the collection contains is of great assistance to their work. This is why we make the collection guides available.</p>

    <p>To learn more about a particular item, or to learn how you can see it, or to find out if a particular item can be digitized and made available online, please <a href="#contact">contact the contributing institution</a> directly.</p>

    <p><a href="#contact">Find contributor information in a collection guide</a>.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h2 id="using">I found something I would like to include in my research.</h2>

    <h3 id="cite-guide">I want to cite or link to a collection guide in OAC. What’s the proper form?</h3>

    <p>When citing or referring to a collection guide in OAC, please use the permalink that begins with <strong>https://oac.cdlib.org/findaid/ark:/13030/#####</strong>.</p>
    <p>For additional recommendations on citing materials in archival collections, see the <%= link_to 'APA Style', 'https://apastyle.apa.org/style-grammar-guidelines/references/archival' %> and <%= link_to 'MLA Style Center', 'https://style.mla.org/citing-materials-physical-archives/' %>.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="cite-item">I want to cite an item described in a collection guide. What's the proper form?</h3>

 <p>When citing or referring to an item described in a collection guide, please use the permalink that begins with <strong>https://oac.cdlib.org/findaid/ark:/13030/#####</strong>. Check the guide to see if the collection guide includes a "Preferred Citation." If it does, use that citation when referencing particular items in the collection.</p>

    <p>For additional recommendations on citing materials in archival collections, see the <%= link_to 'APA Style', 'https://apastyle.apa.org/style-grammar-guidelines/references/archival' %> and <%= link_to 'MLA Style Center', 'https://style.mla.org/citing-materials-physical-archives/' %>.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

<h3 id="publication">May I use online versions of items in a publication or on a web site?</h3>

<p>If you have identified <a href="#online">collection guides with online items</a>, those items will not be available for viewing directly within the OAC website; these links will point to a digital collections platform, often the contributing partner’s website, or a digital collections website, such as <%= link_to 'Calisphere', 'https://calisphere.org' %>. Please refer to any rights and terms of use information specified by the contributing institution on the external website.</p>

<p>OAC does not own or house any of the materials described in the collection guides.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h2 id="topic">I would like to learn more about a historical item or topic.</h2>

    <h3 id="research">I'm conducting research. Can you help me find more information about a particular topic?</h3>

    <p>OAC does not offer reference desk services. For general questions, we suggest contacting your local library reference desk.</p>

    <p>Questions related to a collection or its contents--including requests for duplication, permissions, or more information--must be <a href="#contact">directed to the institution that contributed the materials or the guide</a>. The name of the contributing institution, as well as a link to its website, is provided on every collection guide.</p>

    <p>OAC does not own, store, or house any of the materials described in the collection guides, nor any of the digital materials described and linked on this site.</p>

    <p>See the Society of American Archivists' <%= link_to 'Using Archives', 'https://www2.archivists.org/usingarchives' %> for additional resources on conducting research with archives.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="historical">I have a historical item I'd like to know more about. Can you help?</h3>

    <p>OAC does not offer reference desk services. For general questions, we suggest contacting your local library reference desk for suggestions.</p>

    <p>See the Society of American Archivists' <%= link_to 'Using Archives', 'https://www2.archivists.org/usingarchives' %> for additional resources on conducting research with archives.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="appraisal">I have an item I would like appraised. Can you help me?</h3>

    <p>OAC does not offer appraisal services.  Such services are provided by specialized businesses such as auction houses and antiquarian booksellers. You may wish to consult your local library for specialized collecting guides and catalogs. You can find contact information for specialists to authenticate or appraise your item through professional organizations such as the <%= link_to 'American Society of Appraisers', 'https://www.appraisers.org/' %> and the <%= link_to 'Antiquarian Booksellers Association of America', 'https://www.abaa.org' %>.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="photographs">I have some historic photographs and documents. Can I donate or put them in OAC?</h3>

    <p>OAC does not own, store, or house any of the materials described in the collection guides, nor any of the digital materials described and linked on this site. You may consider contacting one of OAC's current <%= link_to "contributing institutions", { controller: 'arclight/repositories', action: 'index' } %>, or your local historical society or library.</p>

    <p>See the Society of American Archivists' <%= link_to 'free brochure series', 'https://www2.archivists.org/publications/brochures' %> for useful tips on donating materials to an archive.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h2 id="share">I have information to share with OAC.</h2>

    <h3 id="error">I noticed an error in the description of an item or collection--or I have more information to share. How do I report it?</h3>

    <p>The descriptions of items in OAC -- or "metadata" -- are provided by the contributing institutions. Metadata is cataloging information that describes identifiable features -- dates, names, event or topic, location, subject, etc. -- of the primary source records to help researchers discover, situate, and interpret these materials in the context in which they were created. They generally follow established descriptive and cataloging best practices, and actively work to ensure that the metadata is accurate, uses inclusive language, and provides essential historical context to help with interpretation of primary sources.</p>
    <p>However, cultural heritage organizations often have limited documentation and resources available to further investigate individual items beyond the identifiable features in the sources themselves. For this reason, even significant details such as the item’s title, exact age, creator, or copyright status may not be present in the metadata record. Metadata can also reflect biases and may include culturally insensitive terminology, due to how it was originally sourced, created, described, or cataloged.</p>
    <p>We welcome additional information about the primary sources described in OAC. Learn more <%= link_to 'about the collection guides in OAC', overview_path %>, including how primary source records are described; how shared community values and standards guide access to historical materials; how we strive to provide responsible access to primary sources--and how you can help!</p>
    <p>If you have information about an item or collection on this site that is not represented in the metadata or would like to help correct an error, please <%= link_to "contact us", contact_form_path %>.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="story">I found something great in OAC! Can I share my story?</h3>
    <p>Yes! If this site has helped you advance your research, complete a project, find something meaningful, or do anything else that’s important to you, <%= link_to "we'd love to hear about it", contact_form_path %>. Stories like yours help us obtain additional funding so we can continue to grow and improve OAC.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>

    <h3 id="improvements">Can I suggest improvements to the site?</h3>
    <p>We are always on the lookout for new ways to enhance the user experience in OAC. Feel free to <%= link_to 'contact us', contact_form_path %> with feature requests, ideas, and yes—even complaints. We’ll try our best to address these in our ongoing development of the site.</p>

<p style="text-align:right;">[ <a href="#">back to top</a> ]</p>
  </div>

  <div class="col-md-4">
    <div class="card p-4 mb-4">
<h2>Introducing the new OAC</h2>
<p>Welcome to the new OAC! We've prepared a few videos to help you get familiar with the new design and features of OAC.</p>
<p>Visit our <%= link_to 'quick start guide', quickstart_path %> for tips to get started.</p>
    </div>
    <div class="card p-4 mb-4">
<h2>About the collection guides in OAC</h2>
<p>Learn more <%= link_to 'about the collection guides in OAC', overview_path %>, including how primary source records are described; how shared community values and standards guide access to historical materials; how we strive to provide responsible access to digital primary sources--and how you can help!</p>
    </div>
<div class="card p-4 mb-4">
<h2>Share your story</h2>
<p>Has OAC helped you advance your research, complete a project, or find something meaningful? We'd love to hear about it. Stories like yours can help us obtain additional funding to grow and improve the site.</p>
<p>Please <%= link_to 'send us a message', contact_form_path %>.</p>
    </div>
  </div>
</div>
