<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

<div class="container">
    <div class="row mb-3 home-banner">
        <h1 class="text-center align-self-center">
            Explore 60,000+ collection guides from <br/>
            California's libraries, archives, and museums
        </h1>
        <p class="text-end align-self-end">
            <a class="caption" href="">Item Title / Institution Name</a>
        </p>
    </div>

    <div class="row mb-3 gx-5">
        <div class="col-4">
            <div class="row mb-3 home-textbox">
                <div class="col p-4">
                    <h2>
                        OAC is your gateway to detailed descriptions of the unique
                        holdings of over 350 archival institutions throughout the state.
                    </h2>
                    <button class="btn btn-primary">
                        Browse all contributing institutions
                    </button>
                </div>
            </div>
            <div class="row home-image">
                <p class="text-end align-self-end">
                    <a class="caption" href="">Item Title / Institution Name</a>
                </p>
            </div>
        </div>
        <div class="col-8" id="home-map">
        </div>
    </div>

    <div class="container calisphere-banner">Calisphere Banner</div>
</div>

<script>
    var map = L.map('home-map').setView([37.152, -120.594], 6);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    <% @repositories.each do |r|  %>
    var marker = L.marker([<%= r.latitude %>, <%= r.longitude %>]).addTo(map);
    marker.bindPopup(`
        <%= r.name %><br/>
        <%= r.location %>
        <%= link_to("Browse collections", repository_collections_path(r)) %>
    `);
    <% end %>
</script>
