<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

<div class="container home">
    <div class="row mb-3 home-banner" style="background-image: url('<%= image_path('arclight/homepage/featured_images/01.png') %>');">
        <h1 class="text-center align-self-center">
            Explore 60,000+ collection guides from <br/>
            California's libraries, archives, and museums
        </h1>
        <div class="col-6 offset-3" id="search-col">
        <div class="text-center" role="navigation" aria-label="Search">
            <% params_for_search = search_state.params_for_search.except(:qt, :q, :f) %>
            <% params_for_search[:group] = true %>
            <%= render Oac::SearchBarComponent.new(
                placeholder_text: I18n.t("oac.search.placeholder_text"),
                url: search_action_url,
                params: params_for_search,
                autocomplete_path: "/catalog/suggest"
            ) %>
        </div>
        </div>
        <p class="text-end align-self-end">
            <a class="caption" href="">LeConte Family Papers / UC Berkeley, Bancroft Library</a>
        </p>
    </div>

    <div class="row mb-3 gx-5">
        <div class="col-md-4">
            <div class="row mb-3 home-textbox">
                <div class="col p-4">
                    <h2>
                        OAC is your gateway to detailed descriptions of the unique
                        holdings of over 350 archival institutions throughout the state.
                    </h2>
                    <%= link_to("Browse all contributing institutions", { controller: 'arclight/repositories', action: 'index' }, class: 'btn btn-primary') %>
                </div>
            </div>
            <div class="row mb-md-0 mb-3 home-image" style="background-image: url('<%= image_path('arclight/homepage/featured_images/02.png') %>');">
                <p class="text-end align-self-end">
                    <a class="caption" href="">Item Title / Los Angeles Public Library</a>
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" id="home-map">
            </div>
        </div>
    </div>

    <a href="https://calisphere.org">
    <div class="row mb-3 p-4 calisphere-banner">
        <div class="col-xl-auto col-lg-8 col-md-6 col-sm-auto">
            <div class="row flex-lg-nowrap">
                <div class="col-lg-auto mb-lg-0 mb-4">
                    <%= image_tag('arclight/thumb-inst_riverside.jpg', alt: "Calisphere", class: "img-fluid calisphere-thumbnail me-1") %>
                    <%= image_tag('arclight/thumb-uc_merced.jpg', alt: "Calisphere", class: "img-fluid calisphere-thumbnail me-1") %>
                    <%= image_tag('arclight/thumb-inst_marin.jpg', alt: "Calisphere", class: "img-fluid calisphere-thumbnail") %>
                </div>
                <div class="flex-shrink-1 col-lg-auto mb-4">
                    <h3>Need to find a digital image?</h3>
                    <p>A world of primary source materials is available to you online.</p>
                </div>
            </div>
        </div>
        <div class="col text-md-end align-self-center">
            <%= image_tag('arclight/calisphere-logo.svg', alt: "Calisphere", class: "img-fluid calisphere-logo") %>
        </div>
    </div>
    </a>
</div>

<script>
    var map = L.map('home-map').setView([37.152, -120.594], 6);
    L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> hosted by <a href="https://openstreetmap.fr/" target="_blank">OpenStreetMap France</a>'
    }).addTo(map);
    var tealIcon = L.icon({
        iconUrl: "<%= image_path('arclight/map/marker-teal.png') %>",
        shadowUrl: "<%= image_path('arclight/map/marker-shadow.png') %>",
        iconSize:     [25, 41],
        shadowSize:   [41, 41],
        iconAnchor:   [12, 41],
        shadowAnchor: [12, 41],
        popupAnchor:  [1, -34]
    });
    <% @repositories.each do |r|  %>
    var marker = L.marker([<%= r.latitude %>, <%= r.longitude %>], {icon: tealIcon}).addTo(map);
    marker.bindPopup(`
        <%= r.name %><br/>
        <%= r.location %>
        <%= link_to("Browse collections", repository_path(:id => r.slug)) %>
    `);
    <% end %>
</script>
